.trending-title {
    color: #fff;
    &__title {
        font-weight: 600;
        font-size: 36px;
        line-height: 45px;
        width: 400px;
    }
    &__text {
        font-weight: 400;
        font-size: 22px;
        line-height: 35px;
        margin: 10px 0 60px 0;
    }
}
.trending {
    display: flex;
    justify-content: space-between;
    .collection {
        font-family: $main-font;
        color: #fff;
            &__cards {
                max-width: 330px;
            }
    
        &__smallcards {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 8px;
            &__span {
                background-color:rgba(162, 89, 255, 1);
                color: white;
                width: 100px;
                height: 100px;
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
    
            }
        }
        &__bottom {
            display: flex;
            flex-direction: column;
            column-gap: 10px;
            &__mrfox {
                display: flex;
                align-items: center;
                column-gap: 12px;
                img {
                    width: 24px;
                    border-radius: 100%;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 22px;
                }
            }
            &__dsgn {
                margin: 15px 0 10px 0;
                font-weight: 600;
                font-size: 22px;
                line-height: 30px;
            }
        }
    }
}