@import './fonts';
$main-font: 'Work Sans', sans-serif;
$secondary-font: 'Work Sans Bold', sans-serif;
$third-font: 'Space Mono Bold', monospace;
$bg-color: rgba(43, 43, 43, 1);
$border-color:rgba(162, 89, 255, 1);
$card-color: rgba(59, 59, 59, 1);
$gray-color:rgba(133, 133, 132, 1);